<div class="row">
  <div class="col l6 s12">
    <h5 class="white-text">Why?</h5>
    <p class="grey-text text-lighten-4">
      Cognac Time was developed as a hobby project from a love of documentaries
      and wanting to learn new languages and frameworks.
    </p>
  </div>
  <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Resources</h5>
    <ul class="light">
      <li>
        <a href="https://github.com/myth/cognactime">
          <i class="material-icons left">code</i>
          Source code
        </a>
      </li>
      <li>
        <a href="https://overflow.no">
          <i class="material-icons left">person</i>
          Author
        </a>
      </li>
      <li>
        <a href="https://github.com/myth/cognactime/issues">
          <i class="material-icons left">feedback</i>
          Report an issue
        </a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Cognac" target="_blank">
          <i class="material-icons left">local_bar</i>
          Cognac
        </a>
      </li>
    </ul>
  </div>
</div>
