<section id="options">
  <div class="row">
    <div class="col s12 m12 l6" id="quickfilters">
      <h4>FILTERS</h4>
      <button class="btn purple darken-2 waves-effect waves-light quickfilter" id="filter-science">Science</button>
      <button class="btn blue darken-2 waves-effect waves-light quickfilter" id="filter-history">History</button>
      <button class="btn green darken-2 waves-effect waves-light quickfilter" id="filter-nature">Nature</button>
      <button class="btn orange darken-2 waves-effect waves-light quickfilter" id="filter-technology">Technology</button>
    </div>
    <div class="col s12 m12 l3">
      <h4 id="title-runtime">RUNTIME > 30m</h4>
      <form>
      <p class="range-field">
        <input type="range" id="filter-runtime" min="10" max="120" value="30" />
      </p>
      </form>
    </div>
    <div class="col s12 m12 l3">
      <h4>TORRENTS</h4>
      <div class="switch">
        <label>
          Off
          <input disabled type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="filter-search" type="text" class="validate">
      <label for="filter-search">Search</label>
    </div>
  </div>
</section>
