[Service]
ExecStart=/usr/bin/node /path/to/cognactime/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CognacTime
WorkingDirectory=/path/to/cognactime
User=user
Group=user
Environment=NODE_ENV=production
 
[Install]
WantedBy=multi-user.target

