<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <meta name="description" content="CognacTime is a video streaming tool for documentary lovers. Created as a hobby project by Aleksander Skraastad as a means to learn new programming languages and frameworks.">
  <meta name="keywords" content="CognacTime,Cognac,Time,Documentary,Documentaries,NodeJS,YouTube,Streams,NRK,Video,Videos">
  <meta name="author" content="Aleksander Skraastad (myth)">
  <title>CognacTime</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/cognactime.min.css">
</head>
<body>
  <header class="grey darken-4 grey-text text-lighten-1 z-depth-1">
    <nav class="grey darken-4 grey-text text-lighten-1 z-depth-0">
      {{>navbar}}
    </nav>
    {{>header}}
  </header>
  <section id="contentwrapper">
    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>
    <footer class="page-footer brown darken-3">
      <div class="container">{{>footer}}</div>
      <div class="footer-copyright brown darken-4">
        <div class="container">
          2015 © <a href="https://overflow.no" class="lime-text lighten-2">Overflow</a> (MIT Licence)
        </div>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</body>
</html>
