<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CognacTime</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/cognactime.min.css">
</head>
<body id="videos">
  <header class="grey darken-4 grey-text text-lighten-1 z-depth-1">
    <nav class="grey darken-4 grey-text text-lighten-1 z-depth-0">
      {{>navbar}}
    </nav>
    {{>videoactions}}
  </header>
  <main>{{{body}}}</main>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/js/cognactime.min.js"></script>
</body>
</html>
