/*
    Created by 'myth' on June 30. 2015

    CognacTime is licenced under the MIT licence.
 */

@link: green;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  color: darken(@link, 10%);
}
