<div class="row section">
  <div class="col s12 m4 l4">
    <div class="center promo">
      <i class="material-icons large lime-text">video_library</i>
      <p class="promo-caption">Super Easy</p>
      <p>Cognac Time does not require more than a couple of clicks to
        get started watching interesting documentaries.</p>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="center promo">
      <i class="material-icons large lime-text">flash_on</i>
      <p class="promo-caption">Quick Filters</p>
      <p>Simply select a category or two and a minimum running time
        and you're good to go!</p>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="center promo">
      <i class="material-icons large lime-text">input</i>
      <p class="promo-caption">Seamless Integration</p>
      <p>Videos actually originate from different sources, but are
        aggregated into a single stream of content.</p>
    </div>
  </div>
</div>
