<section id="results"></section>
<section id="loading">
  <h3 class="center">LOADING...</h3>
  <div class="container">
    <div class="progress lightblue darken-2">
      <div class="indeterminate blue darken-2"></div>
    </div>
  </div>
</section>
